import("stats", "ggplot2")
importFrom("graphics", "layout", "image", "axis", "box", "par")
importFrom("grDevices", "colorRampPalette")
importFrom("robustbase", "covMcd", "covOGK")
importFrom("RColorBrewer", "brewer.pal")
export(simCorVars,
       mi.t.test,
       ssize.pcc,
       predValues,
       perfMeasures,
       quantileCI,
       medianCI,
       madCI,
       normCI,
       power.diagnostic.test,
       power.nb.test,
       AUC,
       AUC.test,
       binomCI,
       corDist,
       stringDist,
       stringSim,
       traceBack,
       corPlot,
       fiveNS,
       heatmapCol,
       HLgof.test,
       IQrange,
       sIQR,
       madMatrix,
       madPlot,
       simPlot,
       oneWayAnova,
       or2rr,
       risks,
       rrCI,
       pairwise.auc,
       pairwise.fc,
       pairwise.logfc,
       pairwise.fun,
       qbxp.stats,
       qboxplot,
       qboxplot.default,
       repMeans,
       thyroid,
       twoWayAnova)

S3method(qboxplot, default)
S3method(qboxplot, formula)
S3method(mi.t.test, default)
S3method(print, confint)
